
<body>
  <form [formGroup]="formulario" class="bordes-curvos" (ngSubmit)="nuevoPrograma()">
    <fieldset class="bordes-curvos" >
      <h2>Registro</h2>

      <!-- Campo del nombre  -->
      <div class="letf" >

        <div >

          <input class="input"
          type="text"
          formControlName="nombre"
          placeholder="Nombre">
          <div *ngIf="formulario.controls['nombre'].errors?.required && formulario.get('nombre').touched ">
            El nombre es requerido
          </div>
          <div *ngIf="formulario.controls['nombre'].errors?.minlength" class="form-control-feedback">
            minimo 3 letras
          </div>
          <div *ngIf="formulario.controls['nombre'].errors?.pattern" class="form-control-feedback">
            debe ingresar unicamente letras
          </div>
        </div>
      </div>
      <!-- Campo del Segundo Nombre -->
      <div class="right" >

        <div >

          <input class="input"
          type="text"
          formControlName="segundonombre"
          placeholder="Segundo Nombre">
          <div *ngIf="formulario.controls['segundonombre'].errors?.required && formulario.get('segundonombre').touched " >
            El segundo es requerido
          </div>
          <div *ngIf="formulario.controls['segundonombre'].errors?.minlength" class="form-control-feedback">
            minimo 3 letras
          </div>
          <div *ngIf="formulario.controls['segundonombre'].errors?.pattern" class="form-control-feedback">
            debe ingresar unicamente letras
          </div>
        </div>
      </div>

      <!-- Campo del apellido  -->
      <div class="letf" [ngClass]="{'has-danger': !formulario.get('apellido').valid && formulario.get('apellido').touched }">


        <div >

          <input class="input"
          type="text"
          formControlName="apellido"
          placeholder="Apellido">
          <div *ngIf="formulario.controls['apellido'].errors?.required && formulario.get('apellido').touched " >
            El apellido es requerido
          </div>
          <div *ngIf="formulario.controls['apellido'].errors?.minlength" class="form-control-feedback">
            minimo 3 letras
          </div>
          <div *ngIf="formulario.controls['apellido'].errors?.pattern" class="form-control-feedback">
            debe ingresar unicamente letras
          </div>
        </div>
      </div>

      <!-- Campo del segundo apellido  -->
      <div class="right" >

        <div >

          <input class="input"
          type="text"
          formControlName="segundoapellido"
          placeholder="Segundo Apellido">
          <div *ngIf="formulario.controls['segundoapellido'].errors?.required && formulario.get('segundoapellido').touched "
          class="form-control-feedback">
          El Segundo Apellido es requerido
        </div>
        <div *ngIf="formulario.controls['segundoapellido'].errors?.minlength" class="form-control-feedback">
          minimo 3 letras
        </div>
        <div *ngIf="formulario.controls['segundoapellido'].errors?.pattern" class="form-control-feedback">
          debe ingresar unicamente letras
        </div>
      </div>
    </div>

    <!-- Campo del Usuario  -->
    <div class="letf" >

      <div >

        <input class="input"
        type="text"
        formControlName="username"
        placeholder="Username">
        <div *ngIf="formulario.controls['username'].errors?.required && formulario.get('username').touched " >
          El usuario es requerido
        </div>
        <div *ngIf="formulario.controls['username'].errors?.minlength" >
          minimo 3 caracteres
        </div>

      </div>
    </div>
    <!-- Campo de Fecha de nacimiento  -->
    <div class="right" >
      <input class="input" type="text" FormControlName="edad" placeholder="23-04-1994">
    </div>
    <!-- Campo de Genero -->
    <!-- Campo de Email  -->
    <div class="letf" >

      <div >

        <input class="input"
        type="email"
        formControlName="email"
        placeholder="Email">
        <div *ngIf="formulario.controls['email'].errors?.required && formulario.get('email').touched " >
          El Email es Requerido
        </div>
      </div>
    </div>

    <!-- Campo de telefono  -->
    <div class="right" >

      <div >

        <input class="input"
        type="text"
        formControlName="telefono"
        placeholder="Telefono">
        <div *ngIf="formulario.controls['telefono'].errors?.required && formulario.get('telefono').touched " >
          El telefono es requerido
        </div>
        <div *ngIf="formulario.controls['telefono'].errors?.minlength" >
          minimo 7 numeros
        </div>
        <div *ngIf="formulario.controls['telefono'].errors?.pattern" >
          debe ingresar solo numeros
        </div>
      </div>
    </div>
    <!-- Campo de la Direccion        -->
    <div  >

      <div >

        <input class="direccion-input input"
        type="text"
        formControlName="direccion"
        placeholder="Direccion">
        <div *ngIf="formulario.controls['direccion'].errors?.required && formulario.get('direccion').touched " >
          La direccion es requerida
        </div>
        <div *ngIf="formulario.controls['direccion'].errors?.minlength" >
          minimo 3 letras
        </div>
        <div *ngIf="formulario.controls['direccion'].errors?.pattern" >
          debe ingresar solo numero y letras
        </div>
      </div>
    </div>
    <!-- Campo del password -->
    <div class="letf" >

      <div >

        <input class="input"
        type="password"
        formControlName="password"
        placeholder="Password">
        <div *ngIf="formulario.controls['password'].errors?.required && formulario.get('password').touched " >
          El Password es requerido
        </div>
        <div *ngIf="formulario.controls['password'].errors?.minlength" >
          debe contener un minimo de 8 caracteres
        </div>
      </div>
    </div>
    <!-- Campo de confirmar el password -->
    <div class="right" >
      <div >

        <input class="input"
        type="password"
        formControlName="confirmarpassword"
        placeholder="confirmar password">
        <div *ngIf="formulario.controls['confirmarpassword'].errors?.required && formulario.get('confirmarpassword').touched " >
          La confirmacion del password es requerida
        </div>
        <div *ngIf="formulario.controls['confirmarpassword'].errors?.minlength" >
          debe tener al menos 8 caracteres
        </div>
        <div *ngIf="formulario.controls['confirmarpassword'].errors?.pattern" >
          debe ingresar solo numero y letras
        </div>
        <div *ngIf="!password_repeat" >
          Debe coincidir con el password
        </div>
      </div>
    </div>
    <!-- Campo de Genero -->
    <input type="radio" value="male" formControlName="genero"> masculino<br>
    <input type="radio" value="female" formControlName="genero"> femenino<br>
    <div *ngIf="formulario.controls['genero'].errors?.required && formulario.get('genero').touched " >
    </div>

    <div class="input-group col-md-8">
      <button [disabled]="!formulario.valid"
      class="boton bontonProcesar" type="submit">Guardar</button>

    </div>




  </fieldset >

</form>
</body>
